@model bookshop.Models.orders
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Details";
}
@{Layout = "~/Views/Shared/_Layout1.cshtml";}
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
    {
        <link rel="stylesheet"
              href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css"
              integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe"
              crossorigin="anonymous" />
        //add your own files
        <style>
            table {
                direction: rtl;
            }
        </style>
    }

<h1>@localizer["Details"]</h1>

<div>
    <h4>@localizer["orders"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          @localizer["bookId"]  
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookId)
        </dd>
        <dt class = "col-sm-2">
         @localizer["userid"]    
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userid)
        </dd>
        <dt class = "col-sm-2">
          @localizer["quantity"]   
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt class = "col-sm-2">
         @localizer["orderdate"]   
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orderdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"> @localizer["Edit"] </a> 
    
</div>
